{
    "twitch_id": 513203757,

    "mods": [
        "streamelements",
    ],

    "targets": [
        "kae_tv", 
        "kae", 
        "kaelyn"
    ],

    "thresholds": {
        "love_command": 50
    },

    "timers": {
        "unban_timeout": 2
    }
}